<mat-drawer-container class="example-container nav" autosize>
  <mat-drawer #drawer class="example-sidenav sidenavbar" mode="side">
    <h3 class="sidenav-title">Project Management</h3>
    <ul class="user">
      <li>
        <img class="user-img" src="/assets/img/user.png" alt="logo">
      </li>
      <li>
        <p>Admin</p>
        <p style="color: #ea5353;">Logout</p>
      </li>
    </ul>
    <ul class="menu-list">
      <li routerLink="/dashboard">
        <i class="fa fa-tachometer" aria-hidden="true"></i>
        <span>Dashboard</span>
      </li>
      <li class="active" routerLink="/resources">
        <i class="fa fa-user" aria-hidden="true"></i>
        <span>Resources</span>
      </li>
      <li routerLink="/tasks">
        <i class="fa fa-bar-chart" aria-hidden="true"></i>
        <span>Tasks</span>
      </li>
    </ul>
  </mat-drawer>
  <div class="container-fluid">
    <div class="row header m-b-40">
      <div class="navicon">
        <div class="col-xs-12 col-sm-4">
          <button type="button" mat-button (click)="drawer.toggle()" style="border: none;">
            <span class="material-icons menu-icon" style="vertical-align: baseline;"> menu </span>
            <h1 class="heading"> Resources
              <p>List of Resources</p>
            </h1>
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header select-header">
            <button type="button" class="btn btn-primary add-btn" data-toggle="modal" data-target="#myModal1"><i
                class="fa fa-plus plus-circle" aria-hidden="true"></i>Add New Resource</button>
            <button type="button" class="btn btn-primary add-btn" style="float: right;" data-toggle="modal"
              data-target="#myModal2"><i class="fa fa-plus plus-circle" aria-hidden="true"></i>Assign Task</button>
          </div>
          <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered">
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Status</th>
                <th>Cost</th>
                <th>Actions</th>
              </tr>
              <tr *ngFor="let resource of resources">
                <td>{{resource.name}}</td>
                <td>{{resource.email}}</td>
                <td style="color: #32679a;">{{resource.status}}</td>
                <td>{{resource.cost}}</td>
                <td>
                  <ul class="table-btn">
                    <li><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#myModal3"></i></li>
                    <li><i class="fa fa-edit" aria-hidden="true" data-toggle="modal" data-target="#myModal4"></i></li>
                    <li><i class="fa fa-trash" aria-hidden="true" data-toggle="modal" data-target="#myModal5"></i></li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td>
                  <ul>
                    <li>
                    </li>
                  </ul>
                </td>
              </tr>
            </table>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-drawer-container>
<div class="modal fade" id="myModal1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add New Resources</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form action="/action_page.php">
          <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" placeholder="Enter name" id="name">
          </div>
          <div class="form-group">
            <label for="email">Email Address:</label>
            <input type="email" class="form-control" placeholder="Enter email" id="email">
          </div>
          <div class="form-group">
            <label for="text">Status:</label>
            <input type="text" class="form-control" placeholder="Enter status" id="text">
          </div>
          <div class="form-group">
            <label for="number">Cost:</label>
            <input type="number" class="form-control" placeholder="Enter cost" id="number">
          </div>
          <button type="submit" class="btn btn-primary" style="float: right;">Add Resource</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="myModal2">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Assign Task</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form action="/action_page.php">
          <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" placeholder="Enter name" id="name">
          </div>
          <div class="form-group">
            <label for="email">Email Address:</label>
            <input type="email" class="form-control" placeholder="Enter email" id="email">
          </div>
          <div class="form-group">
            <label for="text">Status:</label>
            <input type="text" class="form-control" placeholder="Enter status" id="text">
          </div>
          <div class="form-group">
            <label for="number">Cost:</label>
            <input type="number" class="form-control" placeholder="Enter cost" id="number">
          </div>
          <button type="submit" class="btn btn-danger">Cancel</button>
          <button type="submit" class="btn btn-primary" style="float: right;">Assign</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="myModal3">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Search Resources</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form action="/action_page.php">
          <input type="text" class="form-control" placeholder="Search..">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="myModal4">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit Resources</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form action="/action_page.php">
          <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" placeholder="kumar" id="name">
          </div>
          <div class="form-group">
            <label for="email">Email address:</label>
            <input type="email" class="form-control" placeholder="kumar@email.com" id="email">
          </div>
          <div class="form-group">
            <label for="text">Status:</label>
            <input type="text" class="form-control" placeholder="Available" id="text">
          </div>
          <div class="form-group">
            <label for="number">Cost:</label>
            <input type="number" class="form-control" placeholder="$ 100" id="number">
          </div>
          <button type="submit" class="btn btn-primary" style="float: right;">Save Changes</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="myModal5">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Delete</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        Are you sure want to delete this item?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-dismiss="modal" style="float: left;">Cancel</button>
        <button type="submit" class="btn btn-danger" data-dismiss="modal">Delete</button>
      </div>
    </div>
  </div>
</div>